<h1>{{title}}</h1>
<nav>
  <a [routerLink]="['/heroes']" routerLinkActive="active">Heroes</a>
  <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
  <a [routerLink]="['/wiki']" routerLinkActive="active">Wiki</a>
  <a [routerLink]="['/wikismart']" routerLinkActive="active">Wiki Smart</a>
</nav>
<router-outlet></router-outlet>
